.selectable {
  border: 1px solid green;
}
.input-container {
  display: flex;
  font-family: 'Open Sans', sans-serif;

  > .input-label {
    padding: 10px 8px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #7ab893;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  > .input-form {
    margin: 0;
    padding: 7px 0 8px 10px;
    font-family: 'Open Sans', sans;
    font-size: 100%;
    color: #377d6a;
    background: #efefef;
    border: 0;
  }

  > .input-submit {
    background: unset;
    color: #7ab893;
    margin: 0;
    padding: 8px 8px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #7ab893;

    &:hover {
      cursor: pointer;
      background: #7ab893;
      color: #fff;
    }
    &.failed {
      background: #ffb4b4;
      color: #e71f1f;
      border-color: #e71f1f;
    }
    &:disabled {
      background: #efefef;
      border-color: #cfcfcf;
      color: #d2d1d1;
    }
  }

  > .input-preview {
    height: 27px;
    min-width: 27px;
    margin-left: 10px;
    border: 1px solid #878787;
    border-radius: 3px;
    padding: 3px;
    background: #dadada;

    > img {
      max-height: 100%;
    }
  }
}
