.searchResult {
  color: #54e6ae;
  display: flex;
  align-items: center;
}

.searchResult-icon {
  margin-left: 5px;
}

.searchResult-label {
  margin-left: 5px;
}

.selected {
  background-color: #54e6ae;
  color: aliceblue;
}
